page-register {
    .login-bg{
      background: lightblue;
      background:url(../assets/imgs/login-bg.png) no-repeat bottom center / 100%;height:100%;
    }
    ion-segment{background:#919fb9;border-radius:50px;overflow:hidden;}
    .segment-md .segment-button, .segment-ios .segment-button{color:#FFF;font-weight:600;}
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated, .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
      border-color: #3e537d;
      background-color: #3e537d;
      opacity: 1;
      color:#FFF;
    }

    .toolbar-background-md, .toolbar-background-ios {
      border-color: transparent;
      background: #40537e;
    }

    .toolbar-title-md, .toolbar-title-ios{color:#FFF;}
    ion-menu .content-md {
      color: #FFF;
      background-color: #556a98;
    }


    .button-md, .button-ios{background-color: #3e537d;border-radius:50px;padding:2.5rem;}

    .button-md-primary:hover:not(.disable-hover), .button-ios-primary:hover:not(.disable-hover) {
      background-color: #919fb9;
    }
  }

.forgot a{padding:2rem;display:block;text-align:right;text-decoration:none;font-weight: bold;}

