page-editprofile {
  .back-button.show-back-button{
    z-index: 9999;
  }

  ion-header .toolbar-content {
    position: absolute;
    left: 0;top: 0;
    right: 0;padding: 1.5rem 0;
  }



  .active{background:#556a98 !important;}

  .toolbar-background-md, .toolbar-background-ios {
    border-color: transparent;
    background: #40537e;
  }
  .toolbar-title-md, .toolbar-title-ios{color:#FFF;}
  ion-menu .content-md {
    color: #FFF;
    background-color: #556a98;
  }

  ion-menu .item.item-block.item-md{color: #FFF;
    background-color: #556a98;}

  ion-menu .list-md .item-block .item-inner {
    border-bottom: 1px solid #40537e;
  }

  .button-md, .button-ios{background-color: #3e537d;border-radius:50px;padding:2.5rem;}

  .button-md-primary:hover:not(.disable-hover), .button-ios-primary:hover:not(.disable-hover) {
    background-color: #919fb9;
  }

}
