page-contact {
<<<<<<< HEAD
	
}
page-contact ion-segment{background:#919fb9;border-radius:50px;overflow:hidden;}
page-contact .segment-md .segment-button, page-contact .segment-ios .segment-button{color:#FFF;font-weight:600;}
page-contact .segment-md .segment-button.activated, page-contact .segment-md .segment-button.segment-activated, page-contact .segment-ios .segment-button.activated, page-contact .segment-ios .segment-button.segment-activated {
=======

}
page-contact ion-segment{background:#919fb9;border-radius:50px;overflow:hidden;}
page-contact .segment-md .segment-button{color:#FFF;font-weight:600;}
page-contact .segment-md .segment-button.activated, page-contact .segment-md .segment-button.segment-activated {
>>>>>>> 24c968bfa91b64575719c1a9e8653ee76db217e1
	border-color: #3e537d;
	background-color: #3e537d;
	opacity: 1;
	color:#FFF;
}


<<<<<<< HEAD
page-contact .button-md, page-contact .button-ios{background-color: #3e537d;border-radius:50px;padding:2.5rem;}

.button-md-primary:hover:not(.disable-hover), .button-ios-primary:hover:not(.disable-hover) {
    background-color: #919fb9;
}

.login-bg{background:url(../assets/imgs/login-bg.png) no-repeat bottom center / 100%;height:100%;}
=======
page-contact .button-md{background-color: #3e537d;border-radius:50px;padding:2.5rem;}
>>>>>>> 24c968bfa91b64575719c1a9e8653ee76db217e1
