
<ion-menu [content]="content" persistent="true">
  <ion-content class="menu-content myBg">
	  <div class="bg-block nav-lt" menuClose  (click)="my_profile(user_id, username, 'assets/imgs/marty-avatar.png')">
			<div class="user-img">
        <ng-container *ngIf="user_photo==''; else elseTemplate">
            <img src="assets/imgs/marty-avatar.png">
        </ng-container>
        <ng-template #elseTemplate>
            <img src="{{user_photo}}">
        </ng-template>
      </div>
			<div class="user-name">{{username}}</div>
		</div>
      <ion-list class="left-nav custom-icon">
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon class="" name="{{p.icon}}"></ion-icon>&nbsp;{{p.title}} <ion-icon name='ios-arrow-forward' item-end></ion-icon>
        </button>
        <button menuClose ion-item (click)="logout()"><ion-icon name="md-power"></ion-icon> &nbsp; Logout</button>
      </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
