<ion-header>
  <ion-navbar>
    <ion-title text-center>Profile</ion-title>

    <!--ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name='contact'></ion-icon>
      </button>
    </ion-buttons-->
    <ion-buttons end *ngIf="user.id==user_id">
    <button ion-button icon-only (click)="editprofile()">
      <ion-icon name='md-create'></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>

  <div class="bg-block">
	<div class="user-img" (click)="profileImageAction()">
    <ng-container *ngIf="base64Image; else elseTemplateProfilePic">
        <img src="{{base64Image}}">
    </ng-container>
    <ng-template #elseTemplateProfilePic>
        <img src="{{get_data.photo}}">
    </ng-template>
  </div>
	<div class="user-name">{{get_data.first_name}} </div>
  </div>

<ion-list padding *ngIf="get_data.id">
    <ion-item>
     <strong>Username:</strong> {{get_data.username}}
    </ion-item>
    <ion-item>
      <strong>Name:</strong> {{get_data.first_name}} {{get_data.last_name}}
    </ion-item>

    <ion-item>
      <strong>Email:</strong> {{get_data.email}}
    </ion-item>

    <div padding *ngIf="user.id != get_data.id">
      <button ion-button color="primary" block type="submit" (click)="report_user(get_data.id)">Report this user</button>
    </div>
</ion-list>
</ion-content>

