page-users {

}
page-users ion-icon::before {
    color: #40537e;
}
.bg-block{padding:6rem 0;background:#f4f4f4;}
page-users .user-img{width:80px;height:80px;overflow:hidden;border-radius:50%;margin:0 auto;}
page-users .user-name{text-align:center;padding-top:2rem;font-weight:600;font-size:2.5rem;}